.head2{
  text-align: center;
  color:darkblue;
  margin-bottom: 30px;
}

.actions {
    display: flex;
    gap: 20px; /* Adds space between buttons */
  }
  
  .updateBtn {
    background-color: green;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deleteBtn {
    background-color:red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .updateBtn:hover {
    background-color:black;
  }
  
  .deleteBtn:hover {
    background-color:darkred;
  }
  